@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}

* {
    font-family: Poppins;
}


body {
    margin: 0;
    font-family: Poppins;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: crimson;
    width: 100vw;
    height: 100vh;
}

.perguntasFrequentes {
    margin-top: 10px;
    width: 100%;
    padding-bottom: 15px;
}

.perguntasFrequentes h1 {
    color: white;
    font-weight: bold;
}

.perguntasFrequentes p {
    margin: 0;
    text-align: start;
}

.accordion-item {
    margin-top: 15px;
}

.accordion-button,
.accordion-item {
    border-radius: 10px;
}

.accordion-item button {
    font-weight: bold;
}