@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}

* {
    font-family: Poppins;
}

body {
    margin: auto;
    font-family: Poppins;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: midnightblue;
}

.phone {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 600px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 15px;
}

.phone img{
    transition: all 0.3s ease;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0 auto;
    padding: 0;
    top: 0;
    aspect-ratio: 10/16;
    object-fit:cover;
}

.hideImg{
    position: absolute;
    opacity: 0;
}

.showImg{
    opacity: 1;
}

.navButtons {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    bottom: 0;
}

.navButtons button {
    padding: 10px 0;
    font-size: 12px;
    background-color: white;
    border: 0px;
    transition: all 0.25s ease;
}

.navButtons button:hover, .buttonPressed {
    color: blueviolet;
}

.homeButton {
    border-bottom-left-radius: 15px;
}

.aboutButton {
    border-bottom-right-radius: 15px;
}