/* GERAL */

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}

* {
    font-family: Poppins;
}

body {
    margin: 0;
    font-family: Poppins;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.card{
    transition: all ease 0.25s;
}

.card:hover{
    cursor: pointer;
    box-shadow: 5px 10px rgba(220, 20, 60, 0.555);
    transform: translateY(-2%);
}

.card-img-top{
    margin-top: 12px;
    border-radius: 5px;
}

.projeto2{
    width: 100vw;
    height: 100vh;
    background-color: crimson;
}

.perguntasFrequentes {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.perguntasFrequentes h1 {
    color: white;
    font-weight: bold;
}

.perguntasFrequentes p {
    margin: 0;
    text-align: start;
}

.accordion-item {
    margin-top: 15px;
}

.accordion-button,
.accordion-item {
    border-radius: 10px;
}

.accordion-item button {
    font-weight: bold;
}